:root {
    --colour-primary : #5CB85F;
    --colour-bg1: #e5e5e5;
    --colour-bg2: #f1f3ff;
    --colour-lightblue: #cfd4ed;
    --colour-txt-black: #1C1E2B;

    --transition: all 400ms ease;
}

/* === global style === */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--colour-txt-black);
    background: var(--colour-bg1);
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a {
    color: var(--colour-txt-black);
}

h2 {
    word-wrap: normal;
    font-size: 2rem;
    line-height: 1.5em;
}

p {
    margin: 1rem 0;
    line-height: 2rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* === end global style === */

/* === navbar === */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-list{
    background: var(--colour-bg2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.navbar-item{
    margin: 0 20px;
}

.navbar-item:last-child{
    margin-right: 50px;
}

.toggle{
    margin: 0 20px;
    display: none;
}

.navbar-link{
    font-weight: bold;
}

.navbar-link:hover{
    color: var(--colour-primary);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 50px; 
    cursor: point;
}

.navbar-button{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: var(--colour-primary);
    border-radius: 0.8rem;
    color: var(--colour-bg2);
    border: 1px solid transparent;
    transition: var(--transition);
}

.navbar-button:hover{
    color: var(--colour-txt-black);
    background: transparent;
    border-color: var(--colour-primary);
}

/* @media screen and (max-width:912px){
    .navbar-list{
        flex-wrap: wrap;
    }

    .toggle{
        display: block;
    }

    .navbar-item{
        display: none;
        width: 100%;
        text-align: center;
        margin: 20px;
    }

    .navbar-button{
        display: block;
    }

    .active{
        display: block;
    }

    .container{
        width: 95%;
    }
} */

/* @media screen and (max-width:768px) {
    .toggle{
        width: 25px;
    }

    .logo{
        font-size: 1.25rem;
    }

    .navbar-item{
        font-size: 1rem;
    }

} */

/* @media screen and (max-width:480px) {
    .toggle{
        width: 20px;
    }

    .logo{
        font-size: 1rem;
    }

    .navbar-item{
        font-size: 0.75rem;
    }

} */
@media screen and (max-width:912px) {
    .navbar-list {
        flex-wrap: wrap;
    }

    .toggle {
        display: block;
        width: 30px;
    }

    .navbar-item {
        display: none;
        width: 100%;
        text-align: center;
        margin: 20px;
    }

    .navbar-button {
        display: block;
    }

    .active {
        display: block;
    }

    .container {
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .logo {
        font-size: 1.25;
    }
    .toggle {
        width: 25px;
    }
}


@media screen and (max-width:390px) {

    .logo {
        size: 1rem;
    }

    .toggle {
        width: 20px;
    }
}
/* === end navbar === */

/* Header */
   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   }

   .bg-image {
    background-image: url("../img/masjid.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
   }

   .header__container {
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
   }

   .header__title {
    color: var(--colour-bg2);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
   }

   .header__text {
    color: var(--colour-bg2);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
   }

   .btn_mulai {
    display: inline-block;
    color: var(--colour-bg2);
    padding: 0.8rem 5rem;
    border: 2px solid var(--colour-bg2);
    border-radius: 4rem;
    font-weight: 500;
    margin-top: 1rem;
    transition: var(--transition);
   }

   .btn_mulai:hover {
    background: var(--colour-bg2);
    color: black;
    /* border: 2px solid var(--colour-primary); */
   }
   /* End Header */

   /* Benefit */
   .benefit {
    margin-top: 5rem;
    padding-top: 1rem;
   }

   .benefit__header {
    text-align: center;
    font-size: 1.3rem;
   }

   .benefit__container {
    /* display: grid;
    gap: 5rem; */
    margin-top: 4rem;
   }

   .benefit__row {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    line-height: 1.6rem;
   }

   .benefit__title {
    font-size: 1.4rem;
    font-weight: lighter;
    font-style: italic;
   }

   .uil {
    background-color: var(--colour-lightblue);
    color: var(--colour-primary);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: large;
    margin-right: 0.5rem;
   }

   .benefit__img {
    width: auto;
    height: auto;
    object-fit: cover;
    transition: var(--transition);
    border-radius: 10px;
    /* list-style: none;
    box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89);
   -webkit-box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89);
   -moz-box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89); */
    /* border-radius: 2rem; */
   }

   .benefit__img img {
    border-radius: 10px;
    list-style: none;
    margin-bottom: 20px;
   }

   .benefit__img:hover {
    /* transform: scale(1.1); */
    border-radius: 10px;
    transform: scale(0.9);
   }
   /* End Benefit */

   /* Why Us */
   .whyus {
    margin-top: 6rem;
    padding-bottom: 6rem;
    background-color: var(--colour-bg2);
   }

   .whyus__waves {
    /* position: relative; */
    margin-top: -10px;
    z-index: 99;
   }

   .whyus__header {
    text-align: center;
    font-size: 1.5rem;
   }

   .whyus__list {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    /* align-items: center; */
   }

   .whyus__item {
    border: 1px solid var(--colour-lightblue);
    padding: 2rem;
    align-items: center;
    border-radius: 0.8rem;
    background-color: var(--colour-bg1);
    transition: var(--transition);
    margin: 1rem 0;
    line-height: 2rem;
    text-align: center;
   }

   .whyus__text p {
    font-weight: lighter;
    font-style: italic;
   }

   .whyus__text h3 {
    margin-top: 1rem;
   }

   .whyus__item:hover {
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: var(--transition);
   }
   /* End Why Us */

   /* Media Benefit & Why Us */
   @media screen and (max-width: 768px) {
    .benefit__container {
        grid-template-columns: repeat(1, 2fr);
    }
    .benefit__row {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
    .benefit__title {
        margin-bottom: 1rem;
        text-align: center;
    }
    .benefit__title, p {
        text-align: center;
    }
    .whyus__header {
        margin-top: -30px;
    }
    .whyus__list {
        /* Ngubah List */
        grid-template-columns: repeat(2, 1fr);
    }
   }

   @media screen and (max-width:480px) {
    .benefit__row {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .whyus__list {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .whyus__header {
        margin-top: 30px;
    }
    .header__title {
        margin-bottom: 20px;
    }
   }
   /* End Media Benefit & Why Us */

   /* About Us */
   aside {
    background-color: var(--colour-bg1);
    justify-content: center;
    /* padding-bottom: 2rem; */
    padding: 0 300px;
    margin-bottom: 3rem;
   }
   .aboutus__header {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.3rem;
   }
   .aboutus__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--colour-bg2);
   }
   .aboutus__img {
    border-radius: 10px;
    /* object-fit: cover; */
   }
   .info h3 {
    font-size: 30px;
    margin-bottom: 1rem;
   }
   .socialmedia {
    margin-top: 1rem;
   }
   .aboutus__card:hover {
    transform: scale(1.1);
    transition: var(--transition);
    /* box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89);
   -webkit-box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89);
   -moz-box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.89); */
   }
   /* End About Us */